# See https://docs.powersync.com/self-hosting/telemetry
telemetry:
  # Opt out of reporting anonymized usage metrics to PowerSync telemetry service
  disable_telemetry_sharing: true

# Settings for source database replication
replication:
  connections:
    - type: postgresql
      uri: !env PS_DATA_SOURCE_URI

      # SSL settings
      sslmode: 'disable' # 'verify-full' (default) or 'verify-ca' or 'disable'

# Connection settings for sync bucket storage
storage:
  type: mongodb
  uri: mongodb://mongo:27017/powersync_demo

# The port which the PowerSync API server will listen on
port: !env PS_PORT

# Specify sync rules
sync_rules:
  path: sync-rules.yml

# Client (application end user) authentication settings
client_auth:
  supabase: true
  supabase_jwt_secret: !env PS_SUPABASE_JWT_SECRET

  # JWKS URIs can be specified here if you were using a custom setup
  # jwks_uri: [TODO]  # This is not needed when supabase: true is set

  # Optional static collection of public keys for JWT verification
  jwks:
    #   keys:
    #     - kty: 'RSA'
    #       n: !env PS_JWK_N
    #       e: !env PS_JWK_E
    #       alg: 'RS256'
    #       kid: !env PS_JWK_KID
    keys:
      - kty: 'oct'
        k: 'thisisonlyforthediagnosticsappandshouldnotbeusedinproduction'
        alg: 'HS256'
    # Dev JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWFnbm9zdGljcy11c2VyIiwiYXVkIjpbInBvd2Vyc3luYy1kZXYiLCJwb3dlcnN5bmMiXSwiaWF0IjoxNzYxODk2Njc0fQ.DJ2Xwsop7Z39_-fGpZqxqWT5CmDzSsenOcZuZnZeYgM

  # JWKS audience
  audience: ['powersync-dev', 'powersync']

api:
  tokens:
    # These tokens are used for local admin API route authentication
    - use_a_better_token_in_production
