name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["ci"]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  FORCE_COLOR: 3

jobs:
  # lint:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup
  #       uses: ./tooling/github/setup-ci

  #     - name: Install dependencies
  #       shell: bash
  #       run: npm install

  #     - name: Copy env
  #       shell: bash
  #       run: cp .env.example .env

  #     - name: Lint
  #       run: npm run lint

  format:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || (github.event.action == 'opened' || github.event.action == 'synchronize')
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./tooling/github/setup-ci

      - name: Install dependencies
        shell: bash
        run: npm install

      - name: Format
        run: npm run format

  typecheck:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || (github.event.action == 'opened' || github.event.action == 'synchronize')
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./tooling/github/setup-ci

      - name: Install dependencies
        shell: bash
        run: npm install

      - name: Typecheck
        run: npm run typecheck
