name: Deploy Sync Rules

on:
  push:
    branches: ["main", "dev"]
    paths:
      - 'supabase/config/sync-rules.yml'
      - '.github/workflows/deploy-sync-rules.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  wait-for-supabase-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for Preview workflow to complete
        uses: lewagon/wait-on-check-action@v1.4.1
        with:
          ref: ${{ github.ref }}
          check-name: "Supabase Preview"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10

  validate-sync-rules:
    runs-on: ubuntu-latest
    needs: [wait-for-supabase-preview]
    permissions:
      pull-requests: write
    env:
      AUTH_TOKEN: ${{ secrets.POWERSYNC_TOKEN }}
      ORG_ID: ${{ secrets.POWERSYNC_ORG }}
      PROJECT_ID: ${{ secrets.POWERSYNC_PROJECT }}
      INSTANCE_ID: ${{ secrets.POWERSYNC_PROD_INSTANCE }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./tooling/github/setup-ci

      - name: Validate Sync Rules
        id: validate-sync-rules
        run: npx powersync instance sync-rules validate -f supabase/config/sync-rules.yml

  deploy-sync-rules:
    runs-on: ubuntu-latest
    needs: validate-sync-rules
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./tooling/github/setup-ci

      - name: Deploy Sync Rules
        env:
          AUTH_TOKEN: ${{ secrets.POWERSYNC_TOKEN }}
          ORG_ID: ${{ secrets.POWERSYNC_ORG }}
          PROJECT_ID: ${{ secrets.POWERSYNC_PROJECT }}
          INSTANCE_ID: ${{ secrets.POWERSYNC_PROD_INSTANCE }}
        run: npx powersync instance sync-rules deploy -f supabase/config/sync-rules.yml -s
